body {
  margin: 0;
  font-family: Arial;
  background: #f8f8f8;
}

.container {
  padding: 20px;
  text-align: center;
}

.quote {
  font-style: italic;
  color: gray;
}

button {
  padding: 10px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: darkorange;
}